#mapRoot {
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 1.6em;
}

#footer {
	position: fixed;
	padding: 0em 1em;
	left: 0; right: 0; bottom: 0; height: 1.5em;
}

#sidebar {
	position: fixed;
	top: 0; right: 0; bottom: 1.6em; width: 16em;
	padding: 0.2em;
	display: none;
}

#sidebar .tool {
	border: solid 1px grey;
	border-radius: 0.5em;
	padding: 0.5em;
	margin: 0.5em 0;
}

#sidebar .tool::before {
	content: attr(data-title);
}

.edit #mapRoot {
	right: 16.5em;
}

.edit #sidebar {
	display: block;
}

#modeSwitch::after {
	content: "switch to edit mode";
}

.edit #modeSwitch::after {
	content: "switch to display mode";
}

#brushList .brush {
	cursor: pointer;
	display: inline-block;
	margin: 0.25em;
	padding: 0 0.1em;
	min-width: 5em;
	border: solid 1px grey;
	text-align: center;
	color: black;
	text-shadow: 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white;
	
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#brushList .brush.selected {
	color: white;
	text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black;
}

#brushList .brush:hover {
	text-decoration: underline;
}

#sidebar .terrain.tool::after {
	content: "double-click to edit";
	color: #ccc;
}


.dialog {
	position: fixed;
	margin: 0 auto;
	top: 20%;
	left: 50%;
	margin-left: -300px;
	width: 300px;
	background-color: white;
	border: solid 1px grey;
	border-radius: 0.5em;
	padding: 0 0.5em 0.5em 0.5em;
}

.wizard .step li {
	cursor: pointer;
}

.wizard .step li:hover {
	text-decoration: underline;
}

.wizard .step.done li:not(.selected) {
	color: #ccc;
}

.dialog .dialog-buttons {
	margin-top: 1em;
}